obj
bin
lib
packages
*.nupkg
*.snupkg
/.vs
/.vscode/
artifacts/
*.user
*.suo
*.cache
.DS_Store
Thumbs.db
.idea/
*.sln.iml
*.[Cc]ache
*.log
*.tmp
*.pdb
*.coverage
*.coveragexml
_ReSharper*/
nuget-key.txt
